@model IEnumerable<CadastroDeClientes.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}
<link/>
<p>
    <a asp-action="Create" class="btn btn-primary">Criar Cliente</a>
</p>

<h3>Este campo é exclusivo para clientes!</h3>

<table class="table">
    <thead>
    <tr>
        <th>Imagem</th> <!-- Nova coluna para a imagem -->
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Cnpj)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Segmento)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Cep)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Rua)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Bairro)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Uf)
        </th>

    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                <img src="@item.ImagemCaminho" class="img-redonda" alt="Imagem do Cliente" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Cnpj)
            </td>
            
            <td>
                @if (item.Segmento == null)
                {
                <span>N/A</span>
                }
                else
                {
                @Html.DisplayFor(modelItem => item.Segmento)
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Cep)
            </td>
            
            <td>
                @if (item.Cidade == null)
                {
                    <span>N/A</span>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Cidade)
                }
            </td>

            <td>
                @if (item.Rua != null)
                {
                var truncatedRua = item.Rua.Length > 10 ? item.Rua.Substring(0, 10) + "..." : item.Rua;
                @truncatedRua
                }
                else
                {
                <span>N/A</span>
                }
            </td>

            <td>
                @if (item.Bairro == null)
                {
                <span>N/A</span>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Bairro)
                }
                
            </td>

            <td>
                @if (item.Uf == null)
                {
                <span>N/A</span>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Uf)
                }
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Editar</a> |
                @* <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Detalhes</a> | *@
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Deletar</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<style>
    .img-redonda {
        width: 50px; /* Ajuste o tamanho conforme necessário */
        height: 50px; /* Ajuste o tamanho conforme necessário */
        border-radius: 50%; /* Torna a imagem redonda */
        object-fit: cover; /* Garante que a imagem se ajuste ao contêiner sem distorções */
        border: 2px solid #ccc; /* Opcional: adiciona uma borda */
    }
</style>
